Hi,<br>
<br>
We are looking for candidates for the following direct client requirements. If you have candidate with the <b>required</b> experience/skills, please reply with the resume and rate.<br>
<br>
<b>Position: SAP CRM Business Analyst/Functional Consultant</b>
<p>
<b>Location: Sunnyvale, CA</b>
<p> 
<b>Term: 9+ months contract</b>
<p>
<b>Rate: to $55/hr</b>
<p>
Pre-qualifying questions:<br>
-Do you have SAP CRM Service Module Functional expertise with working knowledge Java based web application interface with SAP XI?<br>
<br>
Description of Services:<br>
Essential Functions: <br>
With a minimal direction from management and the client IT Team, the successful candidate will:<br>
• Develop Functional specs and review technical specifications and QA planning/execution<br>
• Monitor and ensure the solution delivery working with development, QA teams and business teams.<br>
• Proficiency in working with heterogeneous and multi-tier technologies<br>
• Ensure existence of up to date documentation when the project is completed (e.g.  ensure specs and solution documents have been updated to reflect “how built”)<br>
• Define and align operational teams and support requirements.<br>
• Review Support BRDs and develop functional specifications for support processes <br>
• Define and develop solutions to enhance SAP and support home grown application integration<br>
• Write functional specifications document<br>
• Bring knowledge of industry specific CRM Processes<br> 
• Enable integration in multi-tiered applications preferably in SAP and Portal<br>   
• Educate and direct development and QA teams to develop tech spec and test planning<br>
• Review technical specs to ensure the compliance with functional specifications<br>
• Coordinate the technical spec sign-offs<br>
• Configure SAP rules and define metadata to support the development<br>
• Ensure handshake with Support Site portal and other peripheral systems<br>
• Review test plans and coordinate the sign-offs<br>
• Validate and deliver the system enhancements according the signed-off functional specs<br>
• Validate systems connectivity and readiness for QA/UAT execution<br>
• Support testing execution and defect resolution<br>
• Control the issues and deliverable scope<br>
• Enable support site and other peripheral systems test execution<br>
• Provide knowledge and support on SAP and XI during all phases of the deliverable<br>
• Support and coordinate the user registration enhancements <br>
• Support and coordinate the master data readiness in SAP and Support site<br>
• Work with basis and BI team to enable the reporting requirements<br>
• Provide knowledge and support on SAP and Weblogic portal during all phases of the deliverable <br>
• Support and coordinate the user registration application enhancements <br>
• Support and coordinate the user profile integration between SAP, IDM and Support site<br>
• Work with SAP, basis and support site team to enable the reporting requirements<br>
<br>
<br><br><br>
<b>Please do NOT call to check candidate status. We will contact you if the candidate meets our needs.</b>
<p> 
Thanks,
<p> 
 
Jason Liu<br>
Executive Recruiter<br>
Zeva Technology<br>
Phone: (972) 663-9333<br>
Cell: (972) 897-9418<br>
Fax: (972) 346-6234<br>
Web: www.zevatechnology.com<br>
<p>
Note: If you do not wish to receive requirement from us, please reply with Remove in the subject line.<br>

#set ($subject = "SAP CRM Business Analyst/Functional Consultant Requirement") 